<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="announcementEndpointAddress" value="net.tcp://localhost:10010/announcement"/>
    <add key="probeEndpointAddress" value="net.tcp://localhost:10011/probe"/>
    <add key="bindingType" value="System.ServiceModel.NetTcpBinding, System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </appSettings>
</configuration>